---
layout: main
---
{% for post in site.posts %}
<article class="post">
  {% if post.thumb %}
    <a class="post-thumbnail" style="background-image: url('{{site.baseurl}}/assets/img/{{post.thumb}}')" href="{{post.url | prepend: site.baseurl}}"></a>
  {% elsif post.img %}
    <a class="post-thumbnail" style="background-image: url('{{site.baseurl}}/assets/img/{{post.img}}')" href="{{post.url | prepend: site.baseurl}}"></a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.description }}</p>
    <span class="post-date">{{post.date | date: '%B %-d at %I:%M %p'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | append: " words" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}
