<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#3ac0b4">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#3ac0b4">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#3ac0b4">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#3ac0b4">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <!-- Typekit -->
	<script src="https://use.typekit.net/erv3qfi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {% feed_meta %}
</head>
