<article class="post">
    {% if include.post.thumb %}
        <a class="post-thumbnail {{include.post.thumb.style}}" style="background-image: url('{{include.post.thumb.path}}')" href="{{include.post.url | prepend: site.baseurl}}"></a>
        <div class="post-content">
    {% elsif include.post.img %}
        <a class="post-thumbnail {{include.post.img.style}}" style="background-image: url('{{include.post.img.path}}')" href="{{include.post.url | prepend: site.baseurl}}"></a>
        <div class="post-content">
    {% else %}
        <div class="post-content full-width">
    {% endif %}
    <a href="{{post.url | prepend: site.baseurl}}" class="post-title"><h1>{{include.title}}</h1></a>
    <p>{{ include.post.excerpt | strip_html }}</p>
    <span class="post-date">{{ include.formatted_date }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{{ include.length }}</span>
    </div>
</article>