/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .post {
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 100% !important;
        
        .post-thumbnail {
            width: 100% !important;
        }
        
        .post-content {
            width: 100% !important;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        padding: 10px;
        
        footer {
            display: none;
        }
    }
    .content-box {
        padding: 20px 10px;
        margin-left: 0;
    }
    .small-only {
        display: initial;
    }
    .large-only {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .content-box {
        padding: 10px;
        margin-left: 0;
    }
}
