$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

$clear: rgba( $white, 0 );

$praeci-white: #f4f2f4;
$praeci-tinted-white: #adc0be;
$praeci-red: #cc0000;
$praeci-light: #3ac0b4;
$praeci-med: #0f7175;
$praeci-dark: #13505b;

$caption-color: #909090;