$white: #ffffff;
$clear: rgba( $white, 0 );

$bold-grey: #303030;
$body-reg: #515151;
$body-grey: #909090;

$divider-gray: #a0a0a0;

$button-bg: #fafafa;
$button-dark: #ecf0f1;
$button-text: #263959;

$praeci-white: #f4f2f4;
$praeci-tinted-white: #adc0be;
$praeci-red: #cc0000;
$praeci-light: #3ac0b4;
$praeci-med: #0f7175;
$praeci-dark: #13505b;
