---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-site-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.logo %}{{site.logo}}{% endif %}" alt="{{site.title}}"></a>
      </div>
      <div class="site-title">{{site.title}}</div>
      <p class="site-maxim">{{site.maxim}}</p>
    </div>
  </header>
  <footer>
    <div class="copyright">
      <p>{{site.author.name}} &copy; {{site.time | date: '%Y'}}</p>
    </div>
    <section class="contact clearfix">
      <div class="column left">
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
      </div>
      <div class="column right">
        <a href="/contribute">Contribute</a>
        <a href="/donate">Donate</a>
      </div>
    </section>
  </footer>
</aside>
<div class="content-box clearfix">
  {{ content }}
</div>
