---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="masthead">
      <div class="cover-site-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.logo %}{{site.logo}}{% endif %}" alt="{{site.title}}"></a>
      </div>
      <div class="site-title">{{site.title}}</div>
      <p class="pronounciation">{{site.pronounciation}}</p>
      <p class="site-maxim">{{site.maxim}}</p>
    </div>
  </header>
  {% include colophon.html class="large-only" %}
</aside>
<div class="content-box clearfix">
  {{ content }}
</div>
{% include colophon.html class="small-only" %}