---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-site-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.logo %}{{site.logo}}{% endif %}" alt="{{site.title}}"></a>
      </div>
      <div class="site-title">{{site.title}}</div>
      <p>{{site.about}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact</h3>
      <ul>
          <li><a href="{{ site.twitter_link }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.facebook_link }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="email"><a href="mailto:{{site.author.email}}"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.author.name}} &copy; {{site.time | date: '%Y'}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
